@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

.cabecalho {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.938vw;
}

header {
    background-color: #BBDEFB;
}

.divCabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 0vw 5.208vw 0vw 5.208vw;
}

nav ul {
    background-color: #1976D2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.08vw;
    gap: 2.604vw;
}

a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.780vw;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
}

a:hover {
    opacity: 70%;
    transform: scale(1.05);
}

main {
    width: 100%;
}

h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #BBDEFB;
}

#inicio {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, #000000 100%), url("../img/bailarina-teste.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 47.875vw;
}

.bailarina-texto {
    padding: 2.08vw 0vw 0vw 2.08vw;
    width: 36.458vw;
    display: inline-block;
    font-size: 6.25vw;
}

#botao-matricula {
    color: white;
    background-color: #1976D2;
    font-size: 2.083vw;
    padding: 0.521vw 1.042vw 0.521vw 1.042vw;
    border-radius: 1.042vw;
    border-style: none;
    box-shadow: 0px 0px 1.042vw 0.417vw rgb(0 0 0 / 40%);
    font-family: 'Bebas Neue';
}

#botao-matricula:hover {
    opacity: 80%;
}



.icon {
    padding-right: 2.604vw;
}

#background {
background: linear-gradient(180deg, #000000 0%, #1976D2 20%, #0D47A1 60%, #1976D2 80%, #0D47A1 100%);
}

h2 {
    font-size: 3.646vw;
    text-align: center;
    padding: 2.604vw 0px 5.208vw 0px;
}

#grid-danca {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.042vw;
    padding: 0vw 0vw 2.604vw 0vw;
}

#grid-danca article {
    transition: transform 0.5s ease;
}

#grid-danca article:hover {
    transform: scale(1.05);

}

#estilos img {
    width: 21.094vw;
    height: 22.188vw;
    border-radius: 0.781vw;
    box-shadow: 0px 0px 1.042vw 0.417vw rgb(0 0 0 / 40%);
}

.dance-name {
    font-size: 2.604vw;
    text-align: center;
    padding: 0.521vw 0vw 0.521vw 0vw;
}

#flex-professores {
    display: flex;
    flex-direction: column;
    gap: 5.208vw;
    padding-bottom: 2.604vw;
}

#flex-professores article {
    display: flex;           
    justify-content: center;
    gap: 5.208vw;
}

#professores img {
    border-radius: 1.042vw;
    box-shadow: 0px 0px 1.042vw 0.417vw rgb(0 0 0 / 40%);
}

.titulo-professor {
    font-size: 3.646vw;
    padding-bottom: 1.563vw;
}

.descricao-professor, .subtitulo-caixa {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #BBDEFB;
}
.descricao-professor {
    font-size: 1.823vw;
    width: 28.75vw;
}

#horarios article {
    background-color: #1b1b1b;
    border-radius: 0.521vw;
    display: flex;
    align-items: center;
    width: 41.667vw;
    height: 18.229vw;
    box-shadow: 0px 0px 1.042vw 0.417vw rgb(0 0 0 / 40%);
    transition: transform 1s ease;
}

#horarios article:hover {
    transform: scale(1.05);

}

#grid-horarios img {
    width: 13.021vw;
    height: 14.063vw;
    margin: 0rem 1.875rem 0rem  1.875rem;
    border-radius: 0.625rem;
}

#grid-horarios {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 6.25rem;
    padding: 0rem 0rem 2.604vw 0rem;
}

.textos-horarios {
    width: 20.573vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.0625rem;
}


.titulo-caixa {
    font-size: 2.083vw;
}

.subtitulo-caixa {
    font-size: 1.563vw;
    width: 12.344vw;
}

#contato h3 {
    font-size: 3.646vw;
    text-align: center;
    padding: 0rem 0rem 2.604vw 0rem;
}

#contato {
    background-color: #0d48a1;
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    color: #BBDEFB;
    text-align: center;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding-bottom: 2.604vw;
  align-items: center;
  justify-items: center;
}

.footer-lista {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .3125rem;
}

.footer-maps {
    width: 500px;
    height: 300px;
    clip-path: inset(0 0 0 0 round 12px);
}

.footer-lista1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  gap: .3125rem;
}
