@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

.cabecalho {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.938vw;
}

header {
    background-color: #BBDEFB;
}

.divCabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    padding: 0vw 5.208vw 0vw 5.208vw;
}

ul {
    background-color: #1976D2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.08vw;
    gap: 2.604vw;
}

a {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.780vw;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

li:hover {
    opacity: 50%;
    font-size: 0.805vw;
}

main {
    width: 100%;
}

h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#inicio {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, #000000 100%), url("../img/bailarina-teste.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 47.875vw;
}

.bailarina-texto {
    padding: 2.08vw 0vw 0vw 2.08vw;
    width: 36.458vw;
    display: inline-block;
    font-size: 6.25vw;
    color: #BBDEFB;
}

#botao-matricula {
    color: white;
    background-color: #1976D2;
    font-size: 2.083vw;
    padding: 0.521vw 1.042vw 0.521vw 1.042vw;
    border-radius: 1.042vw;
    border-style: none;
    font-family: 'Bebas Neue';
}

.icon {
    padding-right: 2.604vw;
}

#estilos {
    background-color: #000000;
}

h2 {
    color: #BBDEFB;
    font-size: 3.646vw;
    text-align: center;
    padding: 2.604vw 0px 2.604vw 0px;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 1.042vw;
    padding: 0vw 0vw 2.604vw 0vw;
}

#estilos img {
    width: 21.094vw;
    height: 22.188vw;
    border-radius: 0.781vw;
}

.dance-name {
    font-size: 3.646vw;
    color: #BBDEFB;
    text-align: center;
    padding: 0.521vw 0vw 0.521vw 0vw;
}