@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
margin: 0px;
padding: 0px;

}


.cabecalho {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18.3px;
}

header {
    text-align: center;
    background-color: #BBDEFB;
}

.divsCabecalho {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

.logo{
    display: inline-block;
    margin-top: 10px;
}

ul {
    margin: 0px;
    background-color: #1976D2;   
}

li {
    display: inline-block;
    margin-left: 10px ;
    margin-right: 10px ;
    padding: 10px;
    text-decoration: none;
    width: 150px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 15px;
}

li:hover{
    opacity: 50%;
    font-size: 17px;
}

main{
    width: 100%;
}

.imagem-bailarina {
    width: 100%;
    background-image: url("./imagens/bailarina.png");
    height: 600px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    
}

.bailarina-texto{
    margin-top: 30px;
    margin-left: 30px;
    width: 700px;
    display: inline-block;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    color:#BBDEFB;
    padding: 15px;
    z-index: 1;
}

